<section id="content" class="home">
  <aside>
    <section id="game">
      <div class="scoreboard">
        {{#scoreboard}}
          {{^inverted}}
            <div id="scorehome" class="scorecard full"></div>
            <div id="scorevisitors" class="scorecard full"></div>
          {{/inverted}}
          {{#inverted}}
            <div id="scorevisitors" class="scorecard full"></div>
            <div id="scorehome" class="scorecard full"></div>
          {{/inverted}}
        {{/scoreboard}}
      </div>
      <time>&nbsp;</time>
      <ol>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ol>
    </section>
    <section id="feed">
      {{#games}}
        <ol>
          {{#events}}
            <li class="{{type}}">
              <div>{{time}}</div>
              <p>{{head}}<br>{{body}}</p>
            </li>
          {{/events}}
        </ol>
      {{/games}}
    </section>
  </aside>
  <bside>
    <hgroup>
      <h1 class="h1">{{locales.live.top10}}</h1>
    </hgroup>
    <ol>
      {{#table}}
        <li {{#position}}data-rank="{{position}}"{{/position}} data-score="{{score}}"><a href="#!/statistic/{{name}}">{{name}}</a></li>
      {{/table}}
    </ol>
    <div><a href="#!/table">{{locales.live.top10.fulltable}}</a></div>
  </bside>
</section>

